<div class="hello">
  <h1>US Time Zone Display</h1>
  <button (click)="changeTime('PST')" [ngClass]="{selected: lastTimeZoneSelected === 'PST'}"><h3>PST</h3></button>
  <button (click)="changeTime('MST')" [ngClass]="{selected: lastTimeZoneSelected === 'MST'}"><h3>MST</h3></button>
  <button (click)="changeTime('CST')" [ngClass]="{selected: lastTimeZoneSelected === 'CST'}"><h3>CST</h3></button>
  <button (click)="changeTime('EST')" [ngClass]="{selected: lastTimeZoneSelected === 'EST'}"><h3>EST</h3></button>
  <h2>{{date | date:"mediumTime"}}</h2>
</div>
